<div class="flex justify-center items-center">
    <div class="flex justify-center items-center">
        <button (click)="onPrevPage()"
            class="bg-white hover:bg-gray-100 text-gray-600 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
            Anterior
        </button>
    </div>
    <div class="flex justify-center items-center">
        <button (click)="onNextPage()"
            class="bg-white hover:bg-gray-100 text-gray-600 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
            Siguiente
        </button>
    </div>
</div>